/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  max-height: 350px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden{
  display: none;
}